body{
    background-image:url("#{resource['images:bg3.svg']}");
    background-size: 100%;
    background-repeat: no-repeat;
}


.Centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28.25%!important;
}

#sourceGif{
    top: 50%;
    left: 50%;
    width: 35%!important;
    background-size: contain!important;

}


.centerImage {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
}



.buttonTest{
    color: #000000;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    font-weight: bold;
    margin-left: 10px;
    text-shadow: none;

    color:white;
    text-shadow: 1px 1px 0px #000;
    background: #dadada !important;
}

#loginPanel {
    border: black 1px solid!important;
     -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
     border-radius: 0px !important;
 }

#header{
    height:10%;
    width: auto;
}

#header #loginButton #passwordInputPF #usernameInputPF {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.ui-corner-all{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}