/*CSS-File for Main-Dashboard
Author: LM
*/

body{
    background: darkslategray!important;
}

#header{
    height: 30px;
    width: 100%;
    background: darkslategray;
    color: whitesmoke;
    font-size: 20pt;
}

#nav{

}
.ui-corner-all{
    border-radius: 0px;
}


.ui-state-active{
    background-color: whitesmoke;
}

#wrapper-content{
    min-height: 800px;
    width: 80%;
    background: whitesmoke;
    float: left;
    margin: 10px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 5px;
    box-shadow: black;
    border-radius: 0px 5px 5px 5px;
    border: white;
    border-width: 1px;
}

#wrapper-profile{
    min-height: 200px;
    width: 15%;
    background: whitesmoke;
    float:right;
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    border-radius: 5px;

}

#footer{
    height: 50px;
    width: 100%;
    float: left;
    background: darkslategray;
    position: sticky;

}

.ui-corner-all {
    -moz-border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    border-radius: 0px!important;
}
.ui-widget-content {
    border: 0px solid #000000!important;
}
.ui-widget {
   border-radius: 0px;
}
.ui-tabmenu {
    border-radius: 0px;
}
.ui-corner-all {
    border-radius: 0px;
}
.ui-corner-all {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.ui-widget-content {
    border: 0px solid #eeeeee;
    background: #ffffff url("/javax.faces.resource/images/ui-bg_flat_75_ffffff_40x100.png.xhtml?ln=primefaces-blitzer") 50% 50% repeat-x;
    color: #333333;
    border-radius: 0px;
}
.ui-widget {
    border-radius: 0px;
}
