/*CSS-File for Main-Dashboard
Author: LM
*/

body{
    background: darkslategray!important;
}

#header{
    height: 30px;
    width: 100%;
    background: darkslategray;
    color: whitesmoke;
    font-size: 20pt;
}

#nav{

}
.ui-corner-all{
    border-radius: 0px;
}


.ui-state-active{
    background-color: whitesmoke;
}

.ui-panel, div.ui-state-hover {
    margin: 2px;
    width:250px;
}

.ui-dashboard-column {
    width:300px;
}

#wrapper-content{
    min-height: 800px;
    width: 75%;
    background: whitesmoke;
    float: left;
    margin: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 5px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 0px 0px 0px 0px!important;
    border: white;
    border-width: 1px;
}

#wrapper-profile{
    height:auto;
    width: 20%;
    background: whitesmoke;
    float:right;
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    border-radius: 0px!important;
    box-shadow:  0px 3px 5px 4px #888888;

}

#footer{
    height: 50px;
    width: 100%;
    float: left;
    background: darkslategray;
    position: sticky;

}

.ui-corner-all {
    -moz-border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    border-radius: 0px!important;
}
.ui-widget-content {
    border: 0px solid #000000!important;
}
.ui-widget {
   border-radius: 0px;
}
.ui-tabmenu {
    border-radius: 0px;
}
.ui-corner-all {
    border-radius: 0px;
}
.ui-corner-all {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.ui-widget-header{
    border: 0px!important;
}

.ui-widget-content {

    background: #ffffff url("/javax.faces.resource/images/ui-bg_flat_75_ffffff_40x100.png.xhtml?ln=primefaces-blitzer") 50% 50% repeat-x;
    color: #333333;
    border-radius: 0px;
}
.ui-widget {
    border-radius: 0px;
}

.MYSOLUTION {
    border: 0px !important;
    border-width: 0px; !important;
}

.ui-tabmenuitem:last-child{
    float:right!important;
}